@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    @apply bg-red-500;
    @apply text-white
}

a.active  {
    @apply text-red-400
}

::-webkit-scrollbar{
    display: none;
}
.shortcut {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ant-radio-wrapper-checked .ant-radio-inner{
    background: #ef4444 !important;
    border: #ef4444 !important;
}
.ant-radio-inner{
    border: 1px solid #ef4444 !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #ef4444 !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: rgba(239,68,68, 0.04) !important;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: rgba(239,68,68, 0.88) !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item-active a {
    color: rgba(239,68,68, 0.88) !important;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item-active{
    border-color: rgba(239,68,68, 0.88) !important;
}
.ant-rate-star .ant-rate-star-full div{
    @apply text-base;
    @apply text-xs;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: static;
    @apply mt-5
}
.swiper-pagination-bullet-active {
    background:  rgba(239,68,68);
    border-color: rgba(239,68,68, 0.88) !important;
}
.ant-table-cell{
    @apply text-center
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    @apply bg-red-500
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-checkbox-checked .ant-checkbox-inner {
    @apply bg-red-500;
    @apply border-red-500
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-qnu6hi).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    @apply border-red-500;
    @apply border-2;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-checkbox-indeterminate .ant-checkbox-inner:after{
    @apply bg-red-500;
}

.ant-table-tbody-virtual-holder-inner .ant-table-row .ant-table-cell{
    @apply flex items-center justify-center;
}
.ant-table-row.ant-table-row-selected .ant-table-cell{
    background: rgba(239,68,68, 0.3) !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:hover{
    @apply border-red-500 shadow-red-500;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined  {
    @apply border-red-500 shadow-red-500;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-menu-light .ant-menu-item-selected{
    background: rgba(239,68,68, 0.3) !important;
    @apply text-white
}
.ant-upload-list .ant-upload-list-picture{
    @apply flex
}